<!-- Универсальный паршиал отображения ошибок валидации любой модели -->

<% errors = model.errors %>

<% if errors.any? %>
    <div class="alert alert-danger">
      В вашей форме <%= errors.count %>
      <%=Russian.p(errors.count, "ошибка", "ошибки", "ошибок")%>
      <ul>
        <% errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>